<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/styleregister.css">
</head>
      
<body>

<%- include('../partials/header') %>

<div class="form-wrap">
    <div class="form register-form">
        <h1>Actualiza tus datos <%= userToEdit.first_name %></h1>
        <form action="/users/update/<%= userToEdit.id %>" method="POST" enctype="multipart/form-data">
            <ul>
                <li>
                    <label for="first_name">Nombre:</label>
                    <input type="text" placeholder="Nombre" name="first_name" 
                        value="<%= userToEdit.first_name %>">
                    <% if (locals.errors && errors.first_name) { %>
                        <div class='text-danger'>
                            <%= errors.first_name.msg %>
                        </div>
                        <% } %>
                </li>
                <br> 
                <li>
                    <label for="last_name">Apellido:</label>
                    <input type="text" placeholder="Apellido" name="last_name"
                        value="<%= userToEdit.last_name %>">
                    <% if (locals.errors && errors.last_name) { %>
                        <div class='text-danger'>
                            <%= errors.last_name.msg %>
                        </div>
                        <% } %>
                </li>
                <br> 
                <li>
                    <label for="email">Correo electrónico:</label>
                    <input type="email" placeholder="E-mail" name="email"
                        value="<%= userToEdit.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class='text-danger'>
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </li>
                <br> 
                <li>
                    <label for="password">Contraseña:</label>
                    <input type="password" placeholder="password" name="password"
                        value="<%= userToEdit.password %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class='text-danger'>
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </li> 
                <br>                                                                                      
                <li>
                <input type="file" placeholder="Imagen de perfil" name="user_avatar" value="<%= userToEdit.avatar %>">
                <% if (locals.errors && errors.user_avatar) { %>
                    <div class='text-danger'>
                        <%= errors.user_avatar.msg %>
                    </div>
                    <% } %>
                </li>
            </ul>
            <br> 
            <li class="button">
                <button type="submit">Actualizar</button>
            </li>
        </form>
    </div>
</div>

<%- include('../partials/footer') %> 

</body>

</html>