<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

<%- include('../partials/header') %>
    <div class="product-box">

        <section class="product-box-images">

            <div class="principal-product-image">
                <img src="/images/products/<%= productDetail.product_images[0].image %>" >
            </div>
            
            <div class="other-product-images">
                <i class="fas fa-backward"></i>
                <img src="/images/products/<%= productDetail.product_images[1].image %>" class="litle-image" width="15%">
                <img src="/images/products/<%= productDetail.product_images[2].image %>" class="litle-image" width="15%">
                <img src="/images/products/<%= productDetail.product_images[3].image %>" class="litle-image" width="15%">
                <img src="/images/products/<%= productDetail.product_images[4].image %>" class="litle-image" width="15%">
                <i class="fas fa-forward"></i>
            </div>

        </section>





        <section class="product-information" method="POST" action="/shopCart/addProduct" enctype="multipart/form-data">
                <div class="product-information-detail">
                    <h1><%= productDetail.name %> </h1>
                    <br>
                    <h3><%= productDetail.description %></h3>
                    <br>
                    <h2>$ <%= productDetail.price %></h2>
                    <br>
                    <h4>Producto Disponible</h4>
                    <br>
                    <h4 class="cantidad">   Cantidad <div class="cuadrado">1</div></h4> 
                    <br>
                    <hr>
                    <h4>Ver Mis medios de Pago</h4>
                    <hr>
                    <br>
                    <button class="boton-buy"><b>Comprar Ahora </b></button><br>
                    <button class="boton-add"><b>Añadir al carrito</b></button>
                </div>
                <div class="edit-product">
                    <button class="boton"><b>Editar este Producto</b></button>
                </div>
        </section>

    </div>

    <div class="other-recomendations">

        <section class="recomendaciones">
            <h2>Otras recomendaciones</h2>
        </section>

        <section class="other-products">
            <div class="litle-other-products">
                <img src="/images/barca.jpeg" alt="" width="80%" class="imgBar">
                <h7>Camiseta Nike Barcelona Home 2021/2022 + Parche UEFA Champions League</h7>
            </div>
            <div class="litle-other-products">
                <img src="/images/españa-retro 2.jpeg" alt="" width="80%" class="imgBar">
                <h7>Camiseta Adidas España Retro Home 1998/1999 Dorsal 10 - Raul</h7>
            </div>
            <div class="litle-other-products">
                <img src="/images/psg.jpeg" alt="" width="80%" class="imgBar">
                <h7>Camiseta Nike PSG Home 2021/2022</h7>
            </div>
            <div class="litle-other-products">
                <img src="/images/alemania.jpeg" alt="" width="80%" class="imgBar">
                <h7>Camiseta Adidas Alemania Home 2020/2021 + Parche Eurocopa</h7>
            </div>
            <div class="litle-other-products">
                <img src="/images/ajax-retro.jpeg" alt="" width="80%" class="imgBar">
                <h7>Camiseta Adidas Ajax Home 1994/1995</h7>
            </div>
            
        </section>
    </div>

<%-include('../partials/footer') %>

</body>

</html>