
<%- include('../partials/head') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
</head>
      
<body>

<%- include('../partials/header') %>

<main class="main-profile">
    <div class="profile-container">
      <section class="profile-main-data">
        <h1>Hola, <%=user.first_name %> <%= user.last_name %></h1>
        <!-- <figure class="profile-img">
          <img src="/images/users/<%=user.user_avatar %>" alt="foto perfil"/>
        </figure> -->
        <div class="profile-email"><%= user.email %></div>
      </section>
/
      <section class="profile-additional-data">
          <ul class="profile-ul">
            <li class="profile-li">
              <a href="#">Wishlist</a>
            </li>
            <li class="profile-li">
              <a href="#">Mis compras</a>
            </li>
            <li class="profile-li">
              <a href="#">Mi carrito</a>
            </li>
            <li class="profile-li">
              <a href="#">Agregar datos de compra</a>
            </li>
            <li class="profile-li">
              <a href="/users/edit/<%=user.id%>">Editar perfil</a>
            </li>
            <form action="/users/delete" method="POST">
              <button type="submit">Borrar cuenta</button>
            </form>
          </ul>
      </section>
    </div>
  </main>

<%- include('../partials/footer') %> 

</body>

</html>
